@model Assignment5.Models.Product
<tr>
    <td style="background-color:lightblue">@Model.BookID</td>
    <td>@Model.Title</td>
    <td>@Model.AuthorFirst</td>
    <td>@Model.AuthorMiddle</td>
    <td>@Model.AuthorLast</td>
    <td>@Model.Publisher</td>
    <td>@Model.ISBN</td>
    <td>@Model.Classification</td>
    <td>@Model.Category</td>
    <td>$@Model.Price</td>
    <td>@Model.PageLength</td>

</tr>